:root {
  --fontColor: #fff;
  --masterFont: 'Lato', sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2B2B2B, #0F0F0F);
  color: var(--fontColor);
  font-family: var(--masterFont);
}